@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
body{
    margin: 0;
    font-family: "Arial", sans-serif;
    background-color: #8dc63f;
}
.clear{
    clear: both;
}
.main-wrapper{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 960px;
    background-color: #fff;
    box-sizing: border-box;
}
.header{
    padding: 25px 0;
}
.logo,
.logo img,
.logo p{
    float: left;
}
.logo img{
    margin-left: 35px;
}
.logo p, 
.phones a{
    text-decoration: none;
    margin: 0;
    font-size: 22px;
    color: #39930d;
}
.logo b{
    display: block;
    font-size: 44px;
    }
.logo i, 
.phones i{
    font-size: 14px;
    color: #5a5a5a;
}
.ball{
    transition: all ease 1s;
}
.ball:hover{
    padding-left: 250px;
    transform: rotate(360deg);
}
.phones{
    float: right;
}
.phones i{
    display: block;
    text-align: right
}
.banner{
    width: 100%
}
.main{
    margin-bottom: 45px;
}
.content{
    float: left;
    max-width: 600px;
}
.content h1{
    font-family: 'Roboto Slab', serif; 
    font-size: 24px;
    color: #39930d;
}
.content p{
    font-size: 14px;
    line-height: 21px;
    color: #343434;
}
.menu{
    float: right;
    width: 300px;
}
.menu p{
    padding: 15px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #39930d;
}
.menu ul{
    list-style: none;
    padding-left: 20px;
}
.menu a{
    font-size: 14px;
    line-height: 30px;
    color: #39930d;
    text-transform: uppercase;
}
.menu li:hover{
    background-color: #39930d;
}
.menu li:hover a{
    color: #fff;
    padding-left: 30px;
}
.footer{
    margin: 0 -15px;
    padding: 15px;
    font-size: 14px;
    color: #fff;
    background-color: #39930d;
}